/* src/styles/animations.css */
.batting-animation {
    animation: batting 3s infinite;
  }
  
  @keyframes batting {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px);
    }
  }



  
  